@import "tailwindcss";

/* Resetting default browser styles */

@font-face {
  font-family: "FS";
  src: url("/fonts/FS.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-custom: "FS", sans-serif;
}

body {
  background-color: #f8f9f8;
  font-family: 'FS';
}
